services:
  web:
    image: nginx:alpine
    container_name: uragentur-web
    networks:
      - proxy
    restart: unless-stopped
    volumes:
      - ./:/usr/share/nginx/html:ro

networks:
  proxy:
    external: true

